.education {
  width: 100%;
  margin-top: 50px;
  border-top: 1px solid rgba(128, 128, 128, 0.47);
  .education__box {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .education__first {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    span {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
  .education__title {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .education__cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .education__cards__card {
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 30px;
    img {
      width: 100%;
    }
  }
  .education__card__title {
    width: 70%;
    color: #2e3038;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 2px;
    font-weight: 400;
  }
  .education__card__desc {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    margin-top: 20px;
  }
  .education__card__btn {
    border: none;
    outline: none;
    background-color: transparent;
    color: #184afb;
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
}

@media (min-width: 768px) {
  .education {
    width: 100%;
    .education__cards {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    .education__cards__card {
      width: 48%;
    }
  }
}

@media (min-width: 1200px) {
  .education {
    width: 100%;
    .education__first {
      width: 100%;
    }
    .education__title {
      text-align: start;
      font-size: 36px;
      width: 50%;
    }
    .education__cards {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    .education__cards__card {
      width: 48.5%;
    }
  }
}

@media (min-width: 1400px) {
  .education {
    width: 100%;
    .education__first {
      width: 100%;
    }
    .education__title {
      text-align: start;
      font-size: 36px;
      width: 50%;
    }
    .education__cards {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    .education__cards__card {
      width: 31.8%;
    }
  }
}
