.it {
  width: 100%;
  margin-top: 50px;
  .it__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .it__first {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    span {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
  .it__title {
    font-size: 16px;
  }
  .it__cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .it__cards__card {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    img {
      width: 30%;
    }
    span {
      display: flex;
      align-items: center;
      justify-content: end;
      img {
        margin-top: 30px;
      }
    }
  }
}

@media (min-width: 768px) {
  .it {
    width: 100%;
    margin-top: 50px;
    .it__box {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .it__first {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 30px;
      span {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
    .it__title {
      font-size: 22px;
    }
    .it__cards {
      display: flex;
      flex-direction: row;
      gap: 20px;
      flex-wrap: wrap;
    }
    .it__cards__card {
      width: 48%;
      background-color: #f5f5f5;
      border-radius: 10px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      img {
        width: 30%;
      }
      span {
        display: flex;
        align-items: center;
        justify-content: end;
        img {
          margin-top: 30px;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .it {
    width: 100%;
    margin-top: 50px;
    .it__box {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .it__first {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 30px;
      span {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
    .it__title {
      width: 50%;
      font-size: 28px;
    }
    .it__cards {
      display: flex;
      flex-direction: row;
      gap: 20px;
      flex-wrap: wrap;
    }
    .it__cards__card {
      width: 48%;
      background-color: #f5f5f5;
      border-radius: 10px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      img {
        width: 30%;
      }
      span {
        display: flex;
        align-items: center;
        justify-content: end;
        img {
          margin-top: 30px;
          width: 10%;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .it {
    width: 100%;
    margin-top: 50px;
    .it__box {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .it__first {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      align-items: start;
      gap: 400px;
      span {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
    .it__title {
      width: 30%;
      font-size: 28px;
    }
    .it__cards {
      display: flex;
      flex-direction: row;
      gap: 20px;
      margin-top: 50px;
      flex-wrap: wrap;
    }
    .it__cards__card {
      width: 48%;
      background-color: #f5f5f5;
      border-radius: 10px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      img {
        width: 30%;
      }
      span {
        display: flex;
        align-items: center;
        justify-content: end;
        img {
          margin-top: 30px;
          width: 10%;
        }
      }
    }
  }
}
