.header {
  width: 100%;
  position: sticky;
  top: 0;
  box-shadow: 0px 0px 10px darkblue;
  border-bottom: 1px solid grey;
  .header__nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 0;
  }
  .header__img {
    width: 100px;
  }
  .header__item {
    display: flex;
  }
  .header__lists {
    display: none;
  }
  .header__right {
    // width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  .header__select {
    select {
      border: none;
      padding: 1px;
      border-left: 1px solid grey;
    }
  }
  .header__hamburger {
    width: 20px;
    margin-top: 5px;
    cursor: pointer;
  }
  .header__btn {
    border: 1px solid grey;
    background: transparent;
    border-radius: 10px;
    padding: 6px 16px;
    outline: none;
    color: #184afb;
  }
}

@media (min-width: 768px) {
  .header {
    width: 100%;
    .header__img {
      width: 150px;
    }
    .header__lists {
      display: none;
    }
    .header__select {
      select {
        border: none;
        padding: 5px;
        border-left: 1px solid grey;
      }
    }
    .header__hamburger {
      width: 26px;
    }
    .header__btn {
      border: 1px solid grey;
      background: transparent;
      border-radius: 10px;
      padding: 6px 16px;
      outline: none;
      color: #184afb;
    }
    .header__right {
      display: flex;
      gap: 30px;
    }
  }
}

@media (min-width: 992px) {
  .header {
    width: 100%;
    .header__img {
      width: 150px;
    }
    .header__lists {
      display: none;
    }
    .header__select {
      select {
        border: none;
        padding: 5px;
        border-left: 1px solid grey;
      }
    }
    .header__item {
      display: flex;
      gap: 110px;
    }
    .header__lists {
      display: flex;
      gap: 15px;
      align-items: center;
    }
    .header__link {
      color: #828388;
      font-family: sans-serif;
      font-weight: 400;
    }
    .header__hamburger {
      display: none;
    }
    .header__btn {
      border: 1px solid grey;
      background: transparent;
      border-radius: 10px;
      padding: 6px 16px;
      outline: none;
      color: #184afb;
    }
    .header__right {
      display: flex;
      gap: 30px;
    }
  }
}

@media (min-width: 1235px) {
  .header {
    width: 100%;
    .header__img {
      width: 170px;
    }
    .header__lists {
      display: none;
    }
    .header__select {
      select {
        border: none;
        padding: 10px;
        border-left: 1px solid grey;
      }
    }
    .header__item {
      display: flex;
      gap: 200px;
    }
    .header__lists {
      display: flex;
      gap: 15px;
      align-items: center;
    }
    .header__link {
      color: #828388;
      font-family: sans-serif;
      font-weight: 400;
      font-size: 18px;
    }
    .header__btn {
      border: 1px solid grey;
      background: transparent;
      border-radius: 10px;
      padding: 12px 30px;
      outline: none;
      color: #184afb;
    }
    .header__right {
      display: flex;
      gap: 30px;
    }
  }
}

@media (min-width: 1400px) {
  .header {
    width: 100%;
    .header__img {
      width: 170px;
    }
    .header__lists {
      display: none;
    }
    .header__select {
      select {
        border: none;
        padding: 10px;
        border-left: 1px solid grey;
      }
    }
    .header__item {
      display: flex;
      gap: 250px;
    }
    .header__lists {
      display: flex;
      gap: 20px;
      align-items: center;
    }
    .header__link {
      color: #828388;
      font-family: sans-serif;
      font-weight: 400;
      font-size: 18px;
    }
    .header__btn {
      border: 1px solid grey;
      background: transparent;
      border-radius: 10px;
      padding: 12px 30px;
      outline: none;
      color: #184afb;
    }
    .header__right {
      display: flex;
      gap: 30px;
    }
  }
}

@media (min-width: 1600px) {
  .header {
    width: 100%;
    .header__img {
      width: 170px;
    }
    .header__lists {
      display: none;
    }
    .header__select {
      select {
        border: none;
        padding: 10px;
        border-left: 1px solid grey;
      }
    }
    .header__item {
      display: flex;
      gap: 500px;
    }
    .header__lists {
      display: flex;
      gap: 30px;
      align-items: center;
    }
    .header__link {
      color: #828388;
      font-family: sans-serif;
      font-weight: 400;
      font-size: 18px;
    }
    .header__btn {
      border: 1px solid grey;
      background: transparent;
      border-radius: 10px;
      padding: 12px 30px;
      outline: none;
      color: #184afb;
    }
    .header__right {
      display: flex;
      gap: 30px;
    }
  }
}
